{% extends 'layout.html.twig' %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block body %}
	{{ parent() }}
    <div class="container contentBody">
      <h1>Contact Us</h1>
          <p>For more information or to get involved ...</p>


    </div>
{% endblock %}

