{% extends 'layout.html.twig' %}
{% block head %}
    {{parent()}}
    <script type="text/javascript" src="js/views/index.js"></script>
{% endblock %}
{% block body %}
	{{ parent() }}
    <div class="container contentBody">

      <div class="feed-container pull-left">

        <section>
          <header>
            <h1>On Instagram</h1>
          </header>
          {% for post in instagramData %}
            {{post.html|raw}}<br />
          {% endfor %}
        </section>

        <section>
          <header>
            <h1>On Twitter</h1>
          </header>
          <a class="twitter-timeline" href="https://twitter.com/MailtheHorse" data-widget-id="645706018031210497" width="340" height="800" data-chrome="nofooter noborders noscrollbar">Tweets by @MailtheHorse</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </section>
        <br />
      </div>


      <div class="column pull-right">
        
        <section>
          <header>
            <h1>Shows</h1>
          </header>
          <script type='text/javascript' src='http://widget.bandsintown.com/javascripts/bit_widget.js'></script><a href="http://www.bandsintown.com/Mail%20the%20Horse" class="bit-widget-initializer" data-artist="Mail the Horse" data-width="600px">Mail the Horse Tour Dates</a>
        </section>

        <section>
          <header>
            <h1>News</h1>
          </header>

          <a href="http://www.relix.com/blogs/detail/video_premiere_mail_the_horse_flowers_keys_gasoline" target="_blank"><h3>Relix: Video Premiere: Mail the Horse “Flowers, Keys & Gasoline”</h3></a>
          <small>September 23, 2015</small><br />

          <iframe width="560" height="315" src="https://www.youtube.com/embed/T1aI9i1M2Rs" frameborder="0" allowfullscreen></iframe>

          <hr/>


          <a href="http://www.daytrotter.com/#!/concert/mail-the-horse/21022297-373890523" target="_blank"><h3>Day Trotter Studio Session: Mail The Horse Aug 11, 2015 - Daytrotter Studio, Rock Island, IL</h3></a>
          <small>August 11, 2015</small><br />

          <hr/>          

           <a href="http://www.spin.com/2015/06/mail-the-horse-holy-motel-magic-stream-new/" target="_blank"><h3>Spin: Mail the Horse Conjure Up ‘Holy Motel Magic’ on New Single</h3></a>
          <small>July 11, 2015</small><br />

          <hr/>

          <a href="http://www.brooklynvegan.com/archives/2015/06/mail_the_horse.html" target="_blank"><h3>Brooklyn Vegan: Mail the Horse releasing 'Planet Gates,' celebrating at Knitting Factory w/ Sam Cohen & more before tour (dates, streams)</h3></a>
          <small>June 17, 2015</small><br />

          <hr/>


          <a href="http://www.daytrotter.com/#!/concert/mail-the-horse/21022297-373890523" target="_blank"><h3>Day Trotter Studio Session: Mail The HorseAug 11, 2015 - Daytrotter Studio, Rock Island, IL</h3></a>
          <small>June 17, 2015</small><br />

          <hr/>

          <h3>Planet Gates LP Now Available</h3>
          <div>
            <iframe style="border: 0; width: 350px; height: 470px;" src="http://bandcamp.com/EmbeddedPlayer/album=4040365101/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://mailthehorse.bandcamp.com/album/planet-gates">Planet Gates by Mail the Horse</a></iframe>
          </div>
          <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/wg1VvYCGIwU" frameborder="0" allowfullscreen></iframe>
          </div>
        </section>
      </div>

    </div>
{% endblock %}

