{% extends 'layout.html.twig' %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block body %}
	{{ parent() }}
    <div class="container contentBody">

      <section>
        <header>
            <h1>Music</h1>
        </header>
        <p>
          <a href="http://bandcamp.com"><img src="https://s1.bcbits.com/img/buttons/bandcamp_130x27_white.png"></a><br />
          <iframe src="https://embed.spotify.com/?uri=spotify:artist:6NuOslH44SY61wyfxAvRYB" width="300" height="80" frameborder="0" allowtransparency="true"></iframe><br />
          <a href="https://itunes.apple.com/us/album/planet-gates/id1004644390" target="_blank" class="btn btn-lg btn-info">iTunes</a><br /><br />
          <a href="" target="_blank"><img src="http://www.sonoma.edu/campusrec/images/youtube_button.png" width="150" height="150"/></a>
        </p>
      </section>

    </div>
{% endblock %}

