{% extends 'layout.html.twig' %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block body %}
	{{ parent() }}
    <div class="container contentBody">

      <section>
        <header>
            <h1>Music</h1>
        </header>
        <p>Music from youtube and bandcamp</p>
      </section>

    </div>
{% endblock %}

