body {
    font-size: 16px;
    background-color: #202826;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 50px;
}
hr {
    background-color: #202826;
    border: 1px solid;
}
blockquote {
    font-size: 16px;
}
h1,h2,h3,h4,h5 {
    font-weight: bold;
    color: #202826;
    clear: both;
}
section {
    text-shadow: 1px 2px 4px rgba(0,0,0,0.15);
    text-align: center;
}
iframe {
    display: inline-block !important;
}
section blockquote {
    display: inline-block;
    overflow: auto;
    text-overflow: ellipsis;
}
section table {
    display: inline-block;
}
section td {
    vertical-align: bottom;
    padding-bottom: 10px;
    text-align: center;
}
header h1 {
    font-size: 24px;
    padding: 10px;
    color: #edf7f7;
    display: inline-block;
    background-color: #627772;
    border-radius: 10px;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.15);
    text-shadow: 1px 2px 2px rgba(0,0,0,0.15);
}
table.music td {
    padding: 5px;
}
table.music img {
    max-width: 100px;
    height: auto;
}


a.active {
    display: inline-block;
    border-bottom: 2px solid #799691;
}

#about img {
    max-width:800px;
    height: auto;
}
#bit-events {
    font-family: 'Quicksand', sans-serif;
    margin: none;
}
.column {
    width: 700px;
    display: inline-block;
    vertical-align: top;
}
.container {
    background-color: #ffedd0;
}
.container.contentBody {
    padding-top: 100px;
    min-height: 500px;
    color: #444;
    padding: 0px 25px 0px 25px;
    background-image: url('../img/1200/pattern.png');
}
.container.contentBody p {
    margin: 15px;
}
.container.contentBody img {
    border-radius: 10px;
    margin: 0px 15px 15px 0px;
}
.container.contentFooter {
    text-align: center;
    padding: 17px 43px 17px 43px;
    border-radius: 0px 0px 10px 10px;
    background-color: #534737;
    color: white;
}
.contentBody h1,h2,h3,h4 {
    text-shadow: 1px 2px 6px rgba(0,0,0,0.25);
}

#contact_form {
    padding: 35px;
    margin-left: 230px;
    text-align: left;
}
.feed-container {
    width: 380px;
}
#main {
    padding-top: 266px;
}
#menu_container {
    width: 100%;
    top: 0px;
    z-index: 100;
    position: fixed;
    text-align: center;
}
#menu {
    background-image: url('../img/1200/menu.background.jpg');
    padding: 10px 0px 10px 0px;
}
.menu_items a {
    color: white;
    padding:10px 10px 5px 10px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}
.menu_items a:hover {
    border-bottom: 2px solid #799691;
}
#newsletter_form_container {
    z-index: 100;
    position: absolute;
    width: 600px;
    margin-left: 875px;
    text-align: left;
}
#newsletter_form label {
    color: white;
}
.social_menu_items {
    margin-left: 90px;
    padding-top: 5px;
}
.social_menu_items img {
    padding-right: 5px;
}

/* min-width: 768 */
@media screen and (min-width:0px) {
    #about img {
        max-width: 640px;
        height: auto;
    }
    #bit-events table {
        width: 490px !important;
    }
    #bit-events table {
        width: 490px !important;
    }
    #contact_form {
        margin-left: 120px;
    }
    .column {
        width: 490px;
    }
    .column img {
        max-width: 480px;
        height: auto;
    }
    .feed-container {
        width: 200px;
    }
    #newsletter_form_container {
        margin-left: 535px;
    }
    #newsletter_form input[type="email"] {
        width: 100px;
    }
    #main {
        padding-top: 227px;
    }
    #header_logo {
        width: 640px;
        height: auto;
    }
    #shows #bit-events table {
        width: 100% !important;
    }
    .social_menu_items {
        margin-left: 60px;
    }
    .social_menu_items img {
        width: 24px;
        height: auto;
    }
}


@media screen and (min-width:992px) {
    #about img {
        max-width:800px;
        height: auto;
    }
    #bit-events table {
        width: 620px !important;
    }
    #contact_form {
        margin-left: 180px;
    }
    .column {
        width: 620px;
    }
    .column img {
        max-width: 500px;
        height: auto;
    }
    .feed-container {
        width: 270px;
    }
    #header_logo {
        width: 800px;
        height: auto;
    }
    #main {
        padding-top: 266px;
    }
    #newsletter_form_container {
        margin-left: 705px;
    }
    #newsletter_form input[type="email"] {
        width: 150px;
    }
    #shows #bit-events table {
        width: 100% !important;
    }
    .social_menu_items {
        margin-left: 90px;
    }
    .social_menu_items img {
        width: 28px;
        height: auto;
    }
}
@media screen and (min-width:1200px) {
    #about img {
        max-width:800px;
        height: auto;
    }
    #bit-events table {
        width: 700px !important;
    }
    #contact_form {
        margin-left: 230px;
    }
    .column {
        width: 700px;
    }
    .column img {
        max-width: 560px;
        height: auto;
    }
    .feed-container {
        width: 380px;
    }
    #header_logo {
        width: 800px;
        height: auto;
    }
    #main {
        padding-top: 266px;
    }
    #newsletter_form_contaner {
        margin-left: 875px;
    }
    #newsletter_form input[type="email"] {
        width: 170px;
    }
    #shows #bit-events table {
        width: 100% !important;
    }
    .social_menu_items {
        margin-left: 90px;
    }
    .social_menu_items img {
        width: 32px;
        height: auto;
    }
}
