body {
    font-size: 16px;
    background-color: #202826;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 50px;
}
blockquote {
    font-size: 16px;
}
h1,h2,h3,h4,h5 {
    font-weight: bold;
    color: #202826;
    clear: both;
}
section {
    text-shadow: 1px 2px 4px rgba(0,0,0,0.15);
}
section blockquote {
    overflow: auto;
    text-overflow: ellipsis;
}
header h1 {
    font-size: 24px;
    padding: 10px;
    color: #edf7f7;
    display: inline-block;
    background-color: #627772;
    border-radius: 10px;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.15);
    text-shadow: 1px 2px 2px rgba(0,0,0,0.15);
}
.column-left {
    width: 360px;
}
.column {
    width: 640px;
    display: inline-block;
    vertical-align: top;
}

a.active {
    display: inline-block;
    border-bottom: 2px solid #799691;
}

#bit-events {
    font-family: 'Quicksand', sans-serif;
    margin: none;
}

.container {
    background-color: #ffedd0;
}
.container.contentBody {
    padding-top: 100px;
    min-height: 500px;
    color: #444;
    padding: 0px 25px 0px 25px;
    background-image: url('../img/1200/pattern.png');
}
.container.contentBody p {
    margin: 15px;
}
.container.contentBody img {
    border-radius: 10px;
    margin: 0px 15px 15px 0px;
}
.container.contentFooter {
    text-align: center;
    padding: 17px 43px 17px 43px;
    border-radius: 0px 0px 10px 10px;
    background-color: #534737;
    color: white;
}
.contentBody h1,h2,h3,h4 {
    text-shadow: 1px 2px 6px rgba(0,0,0,0.65);
}

#contact_form {
    padding: 35px;
}
#main {
    padding-top: 279px;
}
#menu_container {
    width: 100%;
    top: 0px;
    z-index: 100;
    position: fixed;
    text-align: center;
}
#menu {
    background-image: url('../img/1200/menu.background.jpg');
    padding: 10px 0px 10px 0px;
}
#menu_items img {
    padding:10px 5px 5px 5px;
}
#menu_items a {
    color: white;
    padding:10px 10px 5px 10px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}
#menu_items a:hover {
    border-bottom: 2px solid #799691;
}
#newsletter_form {
    z-index: 100;
    position: absolute;
    width: 600px;
    margin-left: 875px;
    text-align: left;
}


/* min-width: 768 */
@media screen and (min-width:0px) {
    #home-header {
        width: 750px;
        height: 499px;
        background-image: url('../img/768/home.header.background.jpg');
        background-repeat: no-repeat;
        padding: 0px 43px 0px 43px;
    }
    #home-info {
        padding:10px;
        background-color: rgba(0,0,0,0.5);
        font-size: 16px;
        margin-top: 190px;
        border-radius: 10px;
        border-top: 1px inset #ccc;
        border-bottom: 1px inset #444;
        border-left: 1px inset #aaa;
        border-right: 1px inset #aaa;
        box-shadow: 10px 10px 25px -9px rgba(0,0,0,0.75);
    }
    #home-info p {
        width: 500px;
    }
    #logo-main {
        margin: 17px 0px 0px 0px;
        width: 460px;
        height: 165px;
        background-image: url('../img/768/logo-main.png');
        background-repeat: no-repeat;
    }

}


@media screen and (min-width:992px) {
    #home-header {
        width: 970px;
        height: 646px;
        background-image: url('../img/992/home.header.background.jpg');
        /*background-image: url('http://lorempixel.com/g/1170/779/food/');*/
        background-repeat: no-repeat;
        padding: 0px 43px 0px 43px;
    }
    #home-info {
        padding:10px;
        background-color: rgba(0,0,0,0.5);
        font-size: 20px;
        margin-top: 315px;
        border-radius: 10px;
        border-top: 1px inset #ccc;
        border-bottom: 1px inset #444;
        border-left: 1px inset #aaa;
        border-right: 1px inset #aaa;
        box-shadow: 10px 10px 25px -9px rgba(0,0,0,0.75);
    }

    #home-info p {
        width: auto;
    }
    #logo-main {
        margin: 17px 0px 0px 0px;
        width: 564px;
        height: 202px;
        background-image: url('../img/992/logo-main.png');
        background-repeat: no-repeat;
    }
}
@media screen and (min-width:1200px) {
    #home-header {
        width: 1170px;
        height: 779px;
        background-image: url('../img/1200/home.header.background.jpg');
        /*background-image: url('http://lorempixel.com/g/1170/779/food/');*/
        background-repeat: no-repeat;
        padding: 0px 43px 0px 43px;
    }
    #home-info {
        padding:10px;
        background-color: rgba(0,0,0,0.5);
        font-size: 24px;
        margin-top: 390px;
        border-radius: 10px;
        border-top: 1px inset #ccc;
        border-bottom: 1px inset #444;
        border-left: 1px inset #aaa;
        border-right: 1px inset #aaa;
        box-shadow: 10px 10px 25px -9px rgba(0,0,0,0.75);
    }
    #logo-main {
        margin: 17px 0px 0px 0px;
        width: 679px;
        height: 243px;
        background-image: url('../img/1200/logo-main.png');
        background-repeat: no-repeat;
    }
}
